.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  bottom: 5rem;
  background-color: white;
  border-radius: var(--radius);
  padding: 2rem;
  margin: 0 2rem -4rem 2rem;
  width: minmax(fit-content, 100vw);
  box-shadow: 1px 2px 10px rgb(0, 0, 0, 0.2);
} 

.balance {
  font-size: 3rem;
  color: var(--text-color);
}