.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: var(--radius);
  box-shadow: 1px 2px 10px rgb(0, 0, 0, 0.2);
  padding: 2rem;
  margin: 2rem auto;
  font-size: 2rem;
}

.form label {
  display: flex;
  justify-content: space-between;
}

.input {
  font-size: 2rem;
  border: 1px solid;
  border-radius: 5px;
  padding: 0 .5rem;
  margin-left: 1rem;
}

.btn {
  font-size: 2rem;
  border: none;
  background-color: white;
  width: fit-content;
  cursor: pointer;
  color: var(--text-color);
  padding: 0 1rem;
}

.message {
  color: var(--text-color);
}

.alert {
  color: red;
}