.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: var(--radius);
  box-shadow: 1px 2px 10px rgb(0, 0, 0, 0.2);
  padding: 2rem;
  font-size: 2rem;
}

.title {
  border-bottom: 2px solid;
}

.form__input {
  font-size: 2rem;
  border: 1px solid;
  border-radius: 5px;
  padding: 0 .5rem;
  margin-left: 1rem;
}

.form__btn {
  font-size: 2rem;
  border: none;
  background-color: white;
  border-bottom: 1px solid;
  width: fit-content;
}

.form__btn_submit {
  color: var(--text-color);
  cursor: pointer;
}

.form__btn:hover {
  color: var(--secondary-color);
}

.footer {
  margin: 2rem;
}

.register {
  font-weight: bold;
  border-bottom: 1px solid;
}