.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: var(--radius);
  box-shadow: 1px 2px 10px rgb(0, 0, 0, 0.2);
  padding: 2rem;
  font-size: 2rem;
  background-color: white;
}

.form label {
  display: flex;
  justify-content: space-between;
}

.title {
  border-bottom: 2px solid;
}

.form__input {
  font-size: 2rem;
  border: 1px solid;
  border-radius: 5px;
  padding: 0 .5rem;
  margin-left: 1rem;
}

.form__btn {
  font-size: 2rem;
  border: none;
  background-color: white;
  width: fit-content;
  color: var(--text-color);
  cursor: pointer;
  padding: 0 1rem;
}


.form__btn:hover {
  color: var(--secondary-color);
}

.footer {
  border-radius: var(--radius);
  box-shadow: 1px 2px 10px rgb(0, 0, 0, 0.2);
  padding: 2rem;
  margin: 2rem;
  background-color: white;
}

.login {
  font-weight: bold;
  color: var(--text-color);
  padding: 0 1rem;
}

.alert {
  color: red;
}