.container {
  flex: 1 1 150px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: var(--radius);
  box-shadow: 1px 2px 10px rgb(0, 0, 0, 0.2);
  margin: 2rem 0;
  padding: 2rem;
  color: #333;
  background-color: white;
  height: fit-content;
}

.img {
  max-width: 100%;
  height: auto;
}

.ticker__price {
  color: var(--bg-color);
  font-size: 4rem;
}

.ticker__title {
  font-size: 3rem;
  border-bottom: 2px solid;
}

.ticker__tag {
  font-size: 1.2rem;
}

.ticker__link {
  font-weight: bold;
  border-bottom: 1px solid;
  width: fit-content;
}

.ticker__list {
  border: 1px solid;
  padding: 1rem;
}